
fieldset label { 
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

fieldset { 
    width: 300px;
}

#balance {
width: 300px;
height: 70px;
z-index: 1;
position: relative;
background-image: url("Images/balance.png");
}

#aiguille { 
    width: 4px;
    height: 70px;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 100px;
    background-color: black;
}

#silhouette { 
    width: 105px;
    height: 230px;
    background-image: url("Images/IMC-homme.jpg");
    background-position: 0px;
}
